@page "/gestor"
@using System.Text.Json;
@using Model;
@using System.Text;

<PageTitle>GestorPresupuesto</PageTitle>

<h1>GestorPresupuesto</h1>


@if (_gastos.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Descripcion</th>
            <th>Monto</th>
            <!-- Additional columns specific to Gastos -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in combinedList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Fecha</td>
                    <td>@item.Tipo</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Monto</td>
                    <!-- Additional columns specific to Gastos -->
                </tr>
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" @onclick="CargarDatos">Generar Reporte</button>

@code {
    private List<Modelo> _gastos = new List<Modelo>();
    private List<Modelo> _ingresos = new List<Modelo>();
    private List<Modelo> combinedList = new List<Modelo>();

    private void CargarDatos()
    {
        GetReporte();
        combinedList = _gastos.Concat(_ingresos).ToList();
    }



    public async Task GetReporte()
    {

        using (var client = new HttpClient())
        {
            try
            {
                var result = await client.GetAsync("http://host.docker.internal:4000/api/Gastos/");
                if (result.IsSuccessStatusCode)
                {
                    var resultadoServicioGastos =
                    await result.Content.ReadAsStringAsync();
                    var res1 =
                    JsonSerializer
                    .Deserialize
                    <List<Modelo>>(resultadoServicioGastos,
                    new JsonSerializerOptions()
                        { PropertyNameCaseInsensitive = true });

                    _gastos = res1;

                }
                var resultIngresos =
                await client
                .GetAsync("http://host.docker.internal:5000/api/Ingresos/");
                if (resultIngresos.IsSuccessStatusCode)
                {
                    var resultadoServicioIngresos =
                    await resultIngresos.Content.ReadAsStringAsync();
                    var res2 =
                    JsonSerializer
                    .Deserialize
                    <List<Modelo>>(resultadoServicioIngresos,
                    new JsonSerializerOptions()
                        { PropertyNameCaseInsensitive = true });

                    _ingresos = res2;

                }
            }
            catch (Exception ex)
            {
                @* ex.Message; *@
            }
        }
    }



}